{% extends "main.html" %}
{% block content %}
	<!-- Public book list -->
	<div class = "container"> <!-- start container div -->

		{% with messages = get_flashed_messages(with_categories=true) %}
	  			{% if messages %}
		  			{% for category, message in messages %}
		  				<div class="alert alert-{{ category }}">{{ message }}</div>
		  			{% endfor %}
	  			{% endif %}
	  	{% endwith %}

	  	<h2>{{category.name}} List of Books</h2>
	  	<hr>
      	<h5><a href="/categories">Back To The Category List</a></h5>
      	<table class="table table-striped"> <!-- start table -->
	  		<tr>
	      		<th>Title</th>
	      		<th>Price</th>
	      		<th>Author</th>
	      		<th>ISBN</th>
	      		<th></th>
	      		<th></th>
	      	</tr>
	      	<!-- iterate through books and place a book info per row of table -->
		  	{% for book in books %}
		  	<tr>
		  		<td>{{book.title}}</td>
		  		<td>{{book.price}}</td>
		  		<td>{{book.author}}</td>
		  		<td>{{book.isbn}}</td>
		  		<td></td>
			  	<td></td>
			</tr>
		  	{% endfor %}
		</table> <!-- End table -->
	</div> <!-- End container div -->
{% endblock %}
