{% extends "main.html" %}
{% block content %}
	<!-- Public categories list -->
  	<div class = "container"> <!-- start container div -->

    	{% with messages = get_flashed_messages(with_categories=true) %}
	      	{% if messages %}
	        	{% for category, message in messages %}
	          		<div class="alert alert-{{ category }}">{{ message }}</div>
	        	{% endfor %}
	      	{% endif %}
    	{% endwith %}
    
  		<h2>List of Categories</h2>
    	<hr>
      		<table class="table table-striped"> <!-- start table -->
	    		<tr>
	        		<th>Category Names</th>
	            	<th></th>
	        		<th></th>
	        		<th></th>
	        	</tr>
	        	<!-- iterate through categories and place a category per row of table -->
	    		{% for category in categories %}
		  		    <tr>
		  		  		<td>{{category.name}}</td>
		            	<td><a href="category/{{category.id}}/books" class="btn btn-info pull-right">Books</a></td>
		            	<td></td>
		            	<td></td>
		  			</tr>
  				{% endfor %}
  			</table> <!-- End table -->
	</div> <!-- End container div -->
{% endblock %}